@font-face {
  font-family: 'IRANSans';
  src: url('/fonts/IRANSans(FaNum)_Light.ttf') format('truetype');
  font-weight: 400;  /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'IRANSans';
  src: url('/fonts/IRANSans(FaNum).ttf') format('truetype');
  font-weight: 500;  /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'IRANSans';
  src: url('/fonts/IRANSans(FaNum)_Medium.ttf') format('truetype');
  font-weight: 600; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'IRANSans';
  src: url('/fonts/IRANSans(FaNum)_Bold.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
