@font-face {
  font-family: 'IRANSans';
  src: url('/fonts/IRANSans(FaNum).ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IRANSans';
  src: url('/fonts/IRANSans(FaNum).ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'IRANSans';
  src: url('/fonts/IRANSans(FaNum).ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'IRANSans';
  src: url('/fonts/IRANSans(FaNum).ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
